{% extends 'base.html.twig' %}

{% block title %}Edit News Post{% endblock %}

{% block body %}
    <h2>Edit a blog post</h2>

    <div class="form-container">
        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.text) }}
        <div id="category-list-container">
            <ul id="categories-list" class="tags" data-prototype="{{ form_widget(form.categories.vars.prototype)|e('html_attr') }}">
            </ul>
        </div>

        <div id="image-list-container">
            <ol id="images-list" class="images" data-prototype="{{ form_widget(form.blogImages.vars.prototype)|e('html_attr') }}">
            </ol>
        </div>
        {{ form_row(form.publishTime) }}

        {{ form_end(form) }}

    </div>
{% endblock %}
{% block javascripts %}
    <script>
        var imagesContainer = document.getElementById('blog_post_blogImages');

        var collectionContainer = document.getElementById('images-list');
        var prototypeString = collectionContainer.dataset.prototype;

        var imageList = document.createElement("ol");
        imageList.setAttribute('data-index', 1);
        imageList.setAttribute('data-prototype', prototypeString);

        imagesContainer.innerHTML = '';
        imagesContainer.appendChild(imageList);

        var addButton = document.createElement("button");
        var addButtonText = document.createTextNode("Add image");

        addButton.appendChild(addButtonText);
        addButton.type = "button";
        addButton.setAttribute('class', 'btn secondary');
        addButton.addEventListener('click',addImageForm);

        imagesContainer.appendChild(addButton);

        {% if  blogPost.blogImages is not empty %}
        let fileName = '';
        let alt = '';
        let subtext = '';
        let index = 1;
        {% for blogImage in blogPost.blogImages %}
        fileName = '{{ blogImage.image.fileName }}';
        alt = '{{ blogImage.image.alt }}';
        subtext = '{{ blogImage.subtext }}';
        setImageForm(index, fileName, alt, subtext);
        index++;
        {% endfor %}
        {% endif %}

        function addImageForm() {
            let prototype = prototypeString;
            let index = imageList.dataset.index;
            let newForm = prototype;
            newForm = newForm.replace(/__name__/g, index);
            imageList.dataset.index =  1 + parseInt(index);

            let removeButton = document.createElement("button");
            let removeButtonText = document.createTextNode("Remove image");
            removeButton.appendChild(removeButtonText);
            removeButton.type = "button";
            removeButton.setAttribute("id", "remove_" + index);
            removeButton.setAttribute('class', 'btn danger');
            removeButton.addEventListener('click', removeImageForm);

            let newFormLi = document.createElement('li');
            newFormLi.innerHTML = newForm;
            newFormLi.appendChild(removeButton);
            imageList.appendChild(newFormLi);
        }

        function setImageForm(index, fileName, alt, subtext) {
            addImageForm();
            let objectIndex = index;
            let imageInput = document.getElementById('blog_post_blogImages_' + objectIndex +'_image');
            let imageInputDiv = imageInput.parentElement;
            imageInputDiv.innerHTML =
                '<input type="hidden" id="blog_post_blogImages_'+ objectIndex +'_image"'
                + ' name="blog_post[blogImages]['+ objectIndex +'][image]" value="' + fileName +'">';
            let imageInputP = document.createElement('p');
            let pText = document.createTextNode(fileName);
            imageInputP.appendChild(pText);
            imageInputDiv.appendChild(imageInputP);

            let imageAlt = document.getElementById('blog_post_blogImages_' + objectIndex + '_alt');
            imageAlt.setAttribute('value', alt);

            let imageSubtext = document.getElementById('blog_post_blogImages_' + objectIndex + '_subtext');
            imageSubtext.innerHTML = subtext;

            let imgElement = document.createElement('img');
            imgElement.setAttribute('src', '/uploads/images/' + fileName );
            imgElement.setAttribute('alt', alt);
            imageInputDiv.appendChild(imgElement);

        }

        function removeImageForm(event) {
            let elementRemove = event.target;
            let parentRemove = elementRemove.parentElement;
            parentRemove.parentNode.removeChild(parentRemove);
        }

    </script>
    <script>
        let categoriesContainer = document.getElementById('blog_post_categories');
        let categoryCollectionContainer = document.getElementById('categories-list');

        let categoryPrototypeString = categoryCollectionContainer.dataset.prototype;

        var categoryList = document.createElement("ul");
        categoryList.setAttribute('data-index', 1);
        categoryList.setAttribute('data-prototype', categoryPrototypeString);

        categoriesContainer.innerHTML = '';
        categoriesContainer.appendChild(categoryList);

        var addCategoryButton = document.createElement("button");
        var addCategoryButtonText = document.createTextNode("Add category");

        addCategoryButton.appendChild(addCategoryButtonText);
        addCategoryButton.type = "button";
        addCategoryButton.setAttribute('class', 'btn secondary');
        addCategoryButton.addEventListener('click', addCategoryForm);

        categoriesContainer.appendChild(addCategoryButton);

        {% if  blogPost.categories is not empty %}
            let categoryname = '';
            let categoryIndex = 1;
            {% for category in blogPost.categories %}
                categoryname = '{{ category.name }}';
                setCategoryForm(categoryIndex, categoryname);
                categoryIndex++;
            {% endfor %}
        {% endif %}

        function addCategoryForm() {
            let prototype = categoryPrototypeString;
            let index = categoryList.dataset.index;
            let newForm = prototype;
            newForm = newForm.replace(/__name__/g, index);
            categoryList.dataset.index =  1 + parseInt(index);

            let removeButton = document.createElement("button");
            let removeButtonText = document.createTextNode("Remove");
            removeButton.appendChild(removeButtonText);
            removeButton.type = "button";
            removeButton.setAttribute("id", "remove_" + index);
            removeButton.setAttribute("class", "btn danger");
            removeButton.addEventListener('click', removeCategoryForm);

            let newFormLi = document.createElement('li');
            newFormLi.innerHTML = newForm;
            newFormLi.appendChild(removeButton);
            categoryList.appendChild(newFormLi);
        }

        function setCategoryForm(index, categoryName) {
            addCategoryForm();
            let objectIndex = index;
            let categoryInput = document.getElementById('blog_post_categories_' + objectIndex +'_name');

            let categoryInputDiv = categoryInput.parentElement;
            categoryInputDiv.innerHTML =
                '<input type="text" id="blog_post_categories_'+ objectIndex +'_name"'
                + ' name="blog_post[categories]['+ objectIndex +'][name]" value="' + categoryName +'">';
        }

        function removeCategoryForm(event) {
            let elementRemove = event.target;
            let parentRemove = elementRemove.parentElement;
            parentRemove.parentNode.removeChild(parentRemove);
        }

    </script>
{% endblock %}
